.post{
  border: 1px solid;
  width: 40%;
  margin-top: 30px;
}

.post-date{
  color: gray;
}

<<<<<<< Updated upstream
div[date-check="true"] {
=======
div[data-check="true"] {
>>>>>>> Stashed changes
  background: #585555;
}